## time 모듈

In [34]:
import time

time.time()

1748571855.8904948

In [35]:
lt = time.localtime(time.time())
lt

time.struct_time(tm_year=2025, tm_mon=5, tm_mday=30, tm_hour=11, tm_min=24, tm_sec=20, tm_wday=4, tm_yday=150, tm_isdst=0)

In [5]:
time.asctime(lt)

'Fri May 30 10:32:34 2025'

In [6]:
time.ctime()

'Fri May 30 10:35:40 2025'

In [9]:
strdate = time.strftime('%y.%m.%d %H:%M', lt)
strdate

'25.05.30 10:32'

In [10]:
time.strftime('%y.%m.%d %H:%M')  # 현재 날짜 시간 기준

'25.05.30 10:43'

In [11]:
for i in range(1, 11):
    print(i)
    time.sleep(1)  # 1초

1
2
3
4
5
6
7
8
9
10

In [ ]:
'''
사탕 60개, 초콜릿 100개, 젤리 80개가 있다.
모두 같은 개수으로 몇 묶음으로 나눌 수 있을지 구하라.
'''

import math

math.gcd(60, 100, 80)  # 최대 공약수

20

In [ ]:
'''
시내버스가 15분마다 도착, 마을 버스는 25분마다 도착한다.
서로 만날 수 있는 가장 빠른 시간(분)을 구하라.
'''

math.lcm(15, 25)  # 최소 공배수

75

In [21]:
a = '''Hello
Hi'''

print(a)

Hello
Hi

In [ ]:
import random

random.random() * 3  # 0~2 사이의 실수 난수

2.65436774629917

In [25]:
int(random.random() * 3)  # 0, 1, 2 (정수 난수)

0

In [26]:
random.randint(1, 10)

3

In [28]:
fruits = ['Apple', 'Melon', 'Pear', 'Banana', 'Mango']

random.choice(fruits)

'Melon'

In [30]:
random.sample(fruits, 3)

['Mango', 'Pear', 'Apple']

In [ ]:
students = ['주용현', '안슬기', '김용준', '오다은', '최상준', '오경석', '송근호', '주예성', '정호찬', '이소민', '김송미', '김문수']

students2 = random.sample(students, len(students))
print(students2)

random.shuffle(students)  # 원본 데이터가 변경
print(students)

['김송미', '주예성', '오다은', '정호찬', '이소민', '김용준', '송근호', '최상준', '주용현', '오경석', '김문수', '안슬기']
['정호찬', '김용준', '주용현', '김송미', '최상준', '오경석', '안슬기', '주예성', '김문수', '오다은', '송근호', '이소민']

In [36]:
gifts = ['RTX5090ti', '맥북pro', '강사의 사랑']
data = list(zip(students, gifts))
data

[('정호찬', 'RTX5090ti'), ('김용준', '맥북pro'), ('주용현', '강사의 사랑')]

In [38]:
import itertools
data = list(itertools.zip_longest(students2, gifts, fillvalue='사탕'))
data

[('김송미', 'RTX5090ti'),
 ('주예성', '맥북pro'),
 ('오다은', '강사의 사랑'),
 ('정호찬', '사탕'),
 ('이소민', '사탕'),
 ('김용준', '사탕'),
 ('송근호', '사탕'),
 ('최상준', '사탕'),
 ('주용현', '사탕'),
 ('오경석', '사탕'),
 ('김문수', '사탕'),
 ('안슬기', '사탕')]

In [43]:
import itertools

nums = [1, 2, 3, 4]

a = list(itertools.permutations(nums, 2))  # 2개씩 순열
print('순열: ' + str(a))

b = list(itertools.combinations(nums, 2))  # 2개씩 조합
print('조합: ' + str(b))

순열: [(1, 2), (1, 3), (1, 4), (2, 1), (2, 3), (2, 4), (3, 1), (3, 2), (3, 4), (4, 1), (4, 2), (4, 3)]
조합: [(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [49]:
import functools

nums = list(range(1, 101))
# print(nums[:10])

def acc_sum(acc, num):
    print(f"acc:{acc}, num:{num}")
    acc += num
    return acc

result = functools.reduce(acc_sum, nums)
result

acc:1, num:2
acc:3, num:3
acc:6, num:4
acc:10, num:5
acc:15, num:6
acc:21, num:7
acc:28, num:8
acc:36, num:9
acc:45, num:10
acc:55, num:11
acc:66, num:12
acc:78, num:13
acc:91, num:14
acc:105, num:15
acc:120, num:16
acc:136, num:17
acc:153, num:18
acc:171, num:19
acc:190, num:20
acc:210, num:21
acc:231, num:22
acc:253, num:23
acc:276, num:24
acc:300, num:25
acc:325, num:26
acc:351, num:27
acc:378, num:28
acc:406, num:29
acc:435, num:30
acc:465, num:31
acc:496, num:32
acc:528, num:33
acc:561, num:34
acc:595, num:35
acc:630, num:36
acc:666, num:37
acc:703, num:38
acc:741, num:39
acc:780, num:40
acc:820, num:41
acc:861, num:42
acc:903, num:43
acc:946, num:44
acc:990, num:45
acc:1035, num:46
acc:1081, num:47
acc:1128, num:48
acc:1176, num:49
acc:1225, num:50
acc:1275, num:51
acc:1326, num:52
acc:1378, num:53
acc:1431, num:54
acc:1485, num:55
acc:1540, num:56
acc:1596, num:57
acc:1653, num:58
acc:1711, num:59
acc:1770, num:60
acc:1830, num:61
acc:1891, num:62
acc:1953, num:63
acc:2016, num:64
acc:2080, num:65
acc:2145, num:66
acc:2211, num:67
acc:2278, num:68
acc:2346, num:69
acc:2415, num:70
acc:2485, num:71
acc:2556, num:72
acc:2628, num:73
acc:2701, num:74
acc:2775, num:75
acc:2850, num:76
acc:2926, num:77
acc:3003, num:78
acc:3081, num:79
acc:3160, num:80
acc:3240, num:81
acc:3321, num:82
acc:3403, num:83
acc:3486, num:84
acc:3570, num:85
acc:3655, num:86
acc:3741, num:87
acc:3828, num:88
acc:3916, num:89
acc:4005, num:90
acc:4095, num:91
acc:4186, num:92
acc:4278, num:93
acc:4371, num:94
acc:4465, num:95
acc:4560, num:96
acc:4656, num:97
acc:4753, num:98
acc:4851, num:99
acc:4950, num:100

5050

In [51]:
scores = [random.randint(50, 100) for _ in range(10)]
print(scores)

[89, 72, 60, 89, 98, 90, 89, 82, 58, 53]

In [55]:
"I ate {0} apples. So I was sick for {day} days. {1}".format(10, 'hi', day=3)

'I ate 10 apples. So I was sick for 3 days. hi'

In [57]:
def min_score(a, b):
    print(f"a:{a}, b:{b}")
    score = a if a < b else b

    return score

min = functools.reduce(min_score, scores)
min

a:89, b:72
a:72, b:60
a:60, b:89
a:60, b:98
a:60, b:90
a:60, b:89
a:60, b:82
a:60, b:58
a:58, b:53

53

In [ ]:
import operator

students = [
    ('이이름', 20, '메카트로닉스학과'),
    ('김이름', 25, '게임공학과'),
    ('박이름', 23, '경영학과')
]

students2 = sorted(students, key=operator.itemgetter(2))
students2

[('김이름', 40, '게임공학과'), ('박이름', 40, '경영학과'), ('이이름', 40, '메카트로닉스학과')]

In [63]:
students = [
    {"name": '이이름', "age": 20, "major": '메카트로닉스학과'},
    {"name": '김이름', "age": 25, "major": '게임공학과'},
    {"name": '박이름', "age": 23, "major": '경영학과'}
]

students2 = sorted(students, key=operator.itemgetter('age'))  # 나이 기준 정렬
students2

[{'name': '이이름', 'age': 20, 'major': '메카트로닉스학과'},
 {'name': '박이름', 'age': 23, 'major': '경영학과'},
 {'name': '김이름', 'age': 25, 'major': '게임공학과'}]

In [64]:
from glob import glob

files = glob("C:/")
for file in files:
    print(file)

C:/

In [66]:
import pickle

with open("C:/python_data/students.txt", 'wb') as f:
    pickle.dump(students2, f)

In [67]:
with open("C:/python_data/students.txt", 'rb') as f:
    students3 = pickle.load(f)
    for item in students3:
        print(item)

{'name': '이이름', 'age': 20, 'major': '메카트로닉스학과'}
{'name': '박이름', 'age': 23, 'major': '경영학과'}
{'name': '김이름', 'age': 25, 'major': '게임공학과'}

In [68]:
import os

os.system("dir")

0

In [71]:
import json

students = [
    {"name": '이이름', "age": 20, "major": '메카트로닉스학과'},
    {"name": '김이름', "age": 25, "major": '게임공학과'},
    {"name": '박이름', "age": 23, "major": '경영학과'}
]

with open("C:/python_data/students.json", 'w') as f:
    json.dump(students, f, ensure_ascii=False)

In [72]:
with open("C:/python_data/students.json", 'r') as f:
    students2 = json.load(f)
    print(students2)

[{'name': '이이름', 'age': 20, 'major': '메카트로닉스학과'}, {'name': '김이름', 'age': 25, 'major': '게임공학과'}, {'name': '박이름', 'age': 23, 'major': '경영학과'}]