In [ ]:
# while문을 사용하여 1부터 100까지 더하시오
# 홀수만 더하시오
# 증가 감소 연산자(++, --) 사용 불가, 복합 대입 연산자 가능

sum = 0
i = 1
while i <= 100:
    if (i % 2 == 0):
        i += 1
        continue
    sum += i
    i += 1
print(sum)

2500

## 1. for 문의 기본 구조

```python
for 변수 in 리스트, 튜플 또는 반복 가능한 객체 - 이터레이터 등, 문자열:
		반복 수행될 코드
```

In [7]:
fruits = ['Apple', 'Orange', 'Melon', 'Mango']

for fruit in fruits:
    print(fruit)

Apple
Orange
Melon
Mango

In [8]:
person = {"name": "이이름", "age": 40, "address": "주소"}

person.items()

dict_items([('name', '이이름'), ('age', 40), ('address', '주소')])

In [10]:
for key, value in person.items():
    print(key, value)

name 이이름
age 40
address 주소

## 횟수가 있는 반복문
```python
range(반복횟수) # 0 이상, 반복횟수 미만
range(시작번호, 종료번호) # 시작번호 이상, 종료번호 미만
```

In [13]:
range(1, 10) # 1 ~ 9

range(1, 10)

In [14]:
for i in range(10): # 0 ~ 9
    print("반복", i)

반복 0
반복 1
반복 2
반복 3
반복 4
반복 5
반복 6
반복 7
반복 8
반복 9

In [16]:
for i in range(2, 11): # 2~10
    print(i)

2
3
4
5
6
7
8
9
10

In [17]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [19]:
for i in range(2, 10): # 2 ~ 9
    print("-" * 10, i , '단', "-" * 10)
    for j in range(1, 10): # 1 ~ 9
        print(f"{i} * {j} = {i*j}")

---------- 2 단 ----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---------- 3 단 ----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---------- 4 단 ----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---------- 5 단 ----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---------- 6 단 ----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---------- 7 단 ----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---------- 8 단 ----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---------- 9 단 ----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [22]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums2 = []

for num in nums:
    nums2.append(num * num)

nums2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 리스트 컴프리헨션
- 리스트 내에서 for문과 if문을 사용하여 바로 변환하고 값을 할당

In [23]:
nums3 = [num * num for num in nums]
nums3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
nums4 = [num * num for num in nums if num % 2 == 0]
nums4

[4, 16, 36, 64, 100]

In [26]:
nums1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums2 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

nums3 = [num1 * num2 for num1 in nums1
                    for num2 in nums2]
nums3

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 20,
 40,
 60,
 80,
 100,
 120,
 140,
 160,
 180,
 200,
 30,
 60,
 90,
 120,
 150,
 180,
 210,
 240,
 270,
 300,
 40,
 80,
 120,
 160,
 200,
 240,
 280,
 320,
 360,
 400,
 50,
 100,
 150,
 200,
 250,
 300,
 350,
 400,
 450,
 500,
 60,
 120,
 180,
 240,
 300,
 360,
 420,
 480,
 540,
 600,
 70,
 140,
 210,
 280,
 350,
 420,
 490,
 560,
 630,
 700,
 80,
 160,
 240,
 320,
 400,
 480,
 560,
 640,
 720,
 800,
 90,
 180,
 270,
 360,
 450,
 540,
 630,
 720,
 810,
 900,
 100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000]