## 문자형
- `"..."`, `'...'`로 감싼 값
- \+ 연산자로 문자열 결합
- `"""..."""` 또는 `'''...'''`로 문자열을 감싸면 자유롭게 줄개행을 통해서 작성 가능
- `"""..."""`, `'''...'''`로 여러 줄 주석 대체

In [72]:
a = 'Hello, '
type(a)

str

In [73]:
b = 'world!'
print(a + b)

Hello, world!

In [74]:
c = a + b

In [75]:
d = "안녕하세요. \n반갑습니다."
print(d)

안녕하세요.
반갑습니다.

In [76]:
'''
설명 1
설명 2
'''

e = """안녕하세요,
반갑습니다.
"""
print(e)

안녕하세요,
반갑습니다.

In [77]:
a = "I love \"Python\" and \"Java\""
print(a)

I love "Python" and "Java"

## 문자열 연산
- \+ 문자열 결합
- \* 문자열 반복

In [78]:
"ABC" * 3

'ABCABCABC'

In [79]:
print('-' * 30)
print('메뉴 선택: ')
print('-' * 30)

------------------------------
메뉴 선택:
------------------------------

In [80]:
len(a)

26

## 문자열 인덱싱
- 각 문자 접근은 인덱스 연산자 \[\]를 통해서 접근
### 문자열 슬라이싱
- a[시작번호:종료번호] -> 시작번호 <= a < 종료번호
- a[시작번호:] -> 시작번호 이상 문자열 추출
- a[:종료번호] -> 종료번호 미만 문자열 추출
- 인덱스 번호가 음수 -> 오른쪽부터 위치 계산
    - \-1 오른쪽 첫번째 문자
> id(...) : 자원의 주솟값을 확인

In [81]:
a = "One Little, Two Little, Three Little Indians"

In [82]:
a[0]
a[1]

'n'

In [83]:
a[0:3]

'One'

In [84]:
a[0::2]

'OeLtl,ToLtl,TreLtl nin'

In [85]:
a[::-1]

'snaidnI elttiL eerhT ,elttiL owT ,elttiL enO'

In [86]:
b = a[:8]
print("a의 주소: ", id(a))
print("b의 주소: ", id(b))

a의 주소:  2560114790864
b의 주소:  2560112835824

In [87]:
b = "ABC"
print("주소: ", id(b))

b += "DEF"
print("주소: ", id(b))

주소:  140715032335152
주소:  2560109145488

In [88]:
a[0] = 'b'  # 문자열은 불변하기 때문에 변경 불가

TypeError: 'str' object does not support item assignment

In [ ]:
# 같은 문자열인 경우 문자열 상수, 주소만 복사한다.
# a, b, c는 모두 같은 주소
b = a[:]    # b에 a의 문자열을 복사
c = a       # c에 a의 문자열 객체의 주소 복사

print(a, "a의 주소: ", id(a))
print(b, "b의 주소: ", id(b))
print(c, "c의 주소: ", id(c) + id(c + 'A'))

TypeError: 'float' object is not subscriptable

## 문자열 형식화
- %d : 정수
- %f : 실수
    - %10.4f -> 전체 자릿수는 10자 (정수 부분 + 소수점 자리)에서 소수점은 4자까지만 출력
    - %.4f -> 소수점 자릿수만 4자리로 한정 (자바 X)
    - %0.4f (자바 O)
- %s : 문자
    - %10s -> 왼쪽부터 최소 10자, 10자가 안 되는 경우 왼쪽부터 공백으로 채워 줌
    - %-10s -> 오른쪽부터 최소 10자, 10자가 안 되는 경우 오른쪽부터 공백으로 채워 줌

### 적용 방법
- "형식화된_문자열" % 대체될_값
- "형식화된 문자열(대체될 부분이 여러 개인 경우)" % (값1, 값2, ...)
- 형식화할 때 %를 문자열로 사용하는 경우 %%로 대체
- 문자열 객체의 함수 중에서 format 함수 사용
    - 형식화할 때 치환될 부분을 순서 번호 형태로 지정 -> {0}, {1}
    - 형식화할 때 치환될 부분을 직접 이름 형태로 지정 -> {number}, {name}
    - 숫자와 이름을 혼용해서 형식화 문자열을 작성
    - {0:<10} : 최소 10자, 남는 자리수를 오른쪽부터 공백으로 채움
        - {0:_<10} : 최소 10자, 남는 자리수를 오른쪽부터 _으로 채움
    - {0:\>10} : 최소 10자, 남는 자리수를 왼쪽부터 공백으로 채움
        - {0:!\>10} : 최소 10자, 남는 자리수를 왼쪽부터 !으로 채움
    - {0:^10} : 최소 10자, 남는 자리수는 좌우 균등하게 공백으로 채움
        - {0:^10} : 최소 10자, 남는 자리수는 좌우 균등하게 공백으로 채움
- 문자열 앞에 "f", 파이썬 3.6부터 추가, 변수 그 자체를 문자열에 추가

In [ ]:
"I drink %d cup of coffee and %d piece of cake" % (2, 1)

'I drink 2 cup of coffee and 1 piece of cake'

In [ ]:
"I drink %s cup of coffee and %s piece of cake" % ("two", "three")

'I drink two cup of coffee and three piece of cake'

In [ ]:
"%10s," % "Apple"

'     Apple,'

In [ ]:
"%-10s," % "Apple"

'Apple     ,'

In [ ]:
a = 100.12345678
print("숫자: %f" % a)
print("숫자: %10.4f" % a)
print("숫자: %.4f" % a)

숫자: 100.123457
숫자:   100.1235
숫자: 100.1235

In [ ]:
"완료까지 %d%% 입니다." % 85

'완료까지 85% 입니다.'

In [ ]:
"I drink {0} cup of coffee and {1} piece of cake".format(5, 3)

'I drink 5 cup of coffee and 3 piece of cake'

In [ ]:
"I drink {coffee} cup of coffee and {cake} piece of cake".format(coffee=5, cake=2)

'I drink 5 cup of coffee and 2 piece of cake'

In [ ]:
"I drink {0} cup of coffee and {cake} piece of cake".format(2, cake=2)

'I drink 2 cup of coffee and 2 piece of cake'

In [ ]:
coffee = 5
cake = 3
f"I drink {coffee} cup of coffee and {cake} piece of cake"

'I drink 5 cup of coffee and 3 piece of cake'

In [ ]:
"***  {0:<5} v {1:>5}  ***".format("O", "O")

'***  O     v     O  ***'

'***    ^          v          ^    ***'

### f 문자열 형식화
- 문자열 앞에 f를 붙이면 된다.
- 변수를 직접 형식화 문자열에 출력
- 간단한 연산, 함수 호출도 가능
- {값:<10} -> 최소 10자, 남은 자릿수는 오른쪽 공백
    - {값:!<10} -> 최소 10자, 남은 자릿수는 오른쪽 !로 채워 넣는다
- {값:\>10} -> 최소 10자, 남은 자릿수는 왼쪽 공백
- {값:^10} -> 최소 10자, 남은 자릿수는 좌우 균등하게 공백
- {실수:10.4f} -> 정수 + 소수점 자리가 최소 10자리, 소수점은 4자리로 한정
- {실수:.4f} -> 소수점은 4자리로 한정
- {}를 문자 그대로 선ㅅ

In [ ]:
name = "이이름"
age = 40
num = 10

In [ ]:
f'이름: {name}, 나이: {age}, 숫자: {num}'

'이름: 이이름, 나이: 40, 숫자: 10'

In [ ]:
f'이름: {name:<10}, 나이: {age:>10}, 숫자: {num:^10}'

'이름: 이이름       , 나이:         40, 숫자:     10    '

In [ ]:
f'이름: {name:!<10}, 나이: {age:*>10}, 숫자: {num:=^10}'

'이름: 이이름!!!!!!!, 나이: ********40, 숫자: ====10===='

In [ ]:
num = 1000.12345678
f'{num:10.4f}'

' 1000.1235'

In [ ]:
f'{num:.2f}'

'1000.12'

In [89]:
f'{{값}}'

'{값}'

### 문자열 관련 함수들
- 문자 개수 세기 - count
    - 문장에서 특정 문자가 몇 번 등장하는지
- 위치 알려 주기 1 - find
    - 지정된 문자를 못 찾은 경우 -1 값을 반환
- 위치 알려 주기 2 - index
    - 지정된 문자를 못 찾은 경우 예외가 발생
- 특정 문자열로 결합하여 문자여 ㄹ생성 - joooin
    - 문자열 외에 list, tuple 사용 가능
- 소문자 -> 대문자 - upper
- 대문자 -> 소문자 - lower
- 공백 제거 - strip: 좌우 여백 제거
    - lstrip: 왼쪽 여백 제거
    - rstrip: 오른쪽 여백 제거
- 문자열 치환 - replace
- 문자열 나누기 - split
    - 문자열 분리 구분 문자를 지정하지 않으면 공백 기준에서 분리

In [92]:
a = 'abcd'
'#'.join(a)

'a#b#c#d'

In [93]:
fruits = ['apple', 'orange', 'banana', 'melon', 'mango']
','.join(fruits)

'apple,orange,banana,melon,mango'

In [94]:
a = "                   ABC                       "

In [95]:
a + "DEF"

'                   ABC                       DEF'

In [ ]:
a.strip() + "DEF"   # a의 좌우 공백 제거

'ABCDEF'

In [ ]:
a.lstrip() + "DEF"  # a의 왼쪽 공백 제거

'ABC                       DEF'

In [98]:
a.rstrip() + "DEF"  # a의 오른쪽 공백 제거

'                   ABCDEF'

In [99]:
a = "One Little, Two Little, Three Little Indians"
a.replace('Little', 'Big')

'One Big, Two Big, Three Big Indians'

In [ ]:
a = "Apple Orange Melon Mango"
a.split()   # 공백 기준으로 문자열 분리

['Apple', 'Orange', 'Melon', 'Mango']

In [103]:
a = "Apple, Orange, Melon, Mango"
a.split(", ")

['Apple', 'Orange', 'Melon', 'Mango']